/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
#container {
	width: 90%;
	margin: 0 auto;
}
.sidebar {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	background-color: #00B7FF;
	opacity: 0.9;
    overflow-y: hidden;
    transition: 500ms;
    text-align: center;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 28px;
    line-height: 75px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    transition: 300ms;
}
.sidebar a:hover {
    color: #222;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5%;
}

.openbtn {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    padding: 10px;
    border: none;
}

.openbtn:hover {
    cursor: pointer;
}


#navigation {
	position: fixed;
	z-index: 1;
	background-color: #00B7FF;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
}

nav{
	width: 90%;
	margin: 0 auto;
	height: 50px;
	margin-top: 20px;
}

nav ul {
	display: inline-block;
	margin-top: 20px;
}

nav ul li {
	display: inline-block;
	margin-left: 50px;
}

nav ul li:first-of-type {
	margin-left: 0;
}

.logo {
	position: absolute;
	right: 0;
	margin-right: 5%;
}

.header {
	position: relative;
	height: 400px;
	width: 100%;
	display: inline-block;
	margin-top: 100px;
}

.header h1 {
	width: 50%;
	margin-top: 70px;
	font-size: 4em;
	display: inline-block;
	text-align: center;
}

.header img {
	position: absolute;
	right: 0;
}

button {
	background-color: #FFF;
	border: 1px solid #000;
	padding: 15px 75px;
	margin-top: 10px;
	margin-left: 15%;
}

button:hover {
	background-color:#00B7FF;
}

#content {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 50px 0;
	margin: 50px 0;
}

#top-content{
	width: 100%;
	display: inline-block;
	margin-bottom: 50px;
}

#top-content section {
	width: 46%;
	display: inline-block;
}

#top-content section:last-of-type {
	margin-left: 4%;
}

#section-image {
	width: 100%;
	height: 182px;
	background-image: url("../img/mid-page-accent.jpg");
}

#bottom-content {
	width: 100%;
	display: inline-block;
	margin-top: 50px;
}

#bottom-content section {
	width: 30.67%;
	display: inline-block;
	margin-left: 3%;
}

#bottom-content section:first-of-type {
	margin-left: 0;
}

#contact li {
	margin-bottom: 10px;
}

footer {
	text-align: center;
}

/*====MEDIA QUERIES====*/

@media screen and (max-width: 767px) {		
	#top-content section {
		width: 100%;
		display: inline-block;
	}

	#top-content section:last-of-type {
		margin-top: 4%;
		margin-left: 0;
	}

	.header h1 {
		width: 40%;
		font-size: 3em;
	}

	button {
		margin-left: 4%;
	}

	nav{
		margin-top: 10px;
	}

	.logo {
		position: relative;
		margin-left: 33%;
	}

	nav ul {
		margin-left: 15%;
	}

	nav ul li {
		margin-left: 15px;
	}

	#navigation {
		height: 100px;
	}

	.header img {
		width: 250px;
		height: 250px;
		margin-top: 10%;
	}

	#bottom-content section {
		width: 100%;
		margin-left: 0;
		margin-top: 3%;
	}
	
	#bottom-content section:first-of-type {
		margin-top: 0;
	}

}

@media screen and (max-width: 480px) {
	.logo {
		margin-left: 20%;
	}
	nav ul {
		display: none;
	}
	nav ul li {
		margin-left: 45px;
		margin-top: 5px;
		font-size: 0.9em;
	}
	.header h1 {
		margin-top: 90%;
		width: 95%;
		font-size: 3em;
	}

	button {
		margin-left: 12%;
		padding: 17px 87px;
	}
	.header img {
		margin-right: 13%;
	}

	#navigation {
		height: 60px;
	}
	footer {
		padding-top: 20px;
	}
}